# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Visual Studio Code files
.vscode/

# Eclipse files
.classpath
.project
.settings/

# Maven build directory
/target/

# Spring Boot properties file
/application.properties

# Docker files
Dockerfile
docker-compose.yml

# Maven wrapper
.mvn/wrapper/
mvnw
mvnw.cmd
